script(type="text/javascript", src="http://bzurer.common.jit.su/javascripts/jquery.js")
script(type="text/javascript", src="http://bzurer.common.jit.su/javascripts/jquery-ui.js")
script(type="text/javascript", src="http://bzurer.common.jit.su/javascripts/json2.js")
